@import "../variables";
@import "../mixins";

.todoApp {

	.todoAppTitle {
		text-align: center;
	}

	.todoForms {
		display: flex;
		justify-content: space-between;
		margin: 1em 0;
		@include md {
			flex-direction: column;
			width: 80%;
			margin: 1em auto;
		}
	}

	.todoFilters {
		display: flex;
		justify-content: space-between;
		border-top: 2px solid $textfld-border;
		border-bottom: 2px solid $textfld-border;
		padding: 1em 0;
		margin: 1em 0;
		@include md {
			width: 80%;
			margin: 0 auto;
			flex-direction: column;
		}
	}
}
