@import "../../styles/variables";
@import "../../styles/mixins";

.userColumn {
	border: $width-input-border solid $textfld-border;
	padding: 0 0.5em;
	background: #ffffff;
	gap: 0.5em;
	cursor: grab;
	width: auto;
	margin: 1em 0;
	@include lg {
		margin: 1em 0;
	}

	.userColumnHeader {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.userColumnBtn {
			background: #ffffff;
			color: #1f2937;
			height: 25px;
			padding: 0 0.3em;
		}
	}

	.userColumnActions {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include sm {
			flex-direction: column;
			align-items: flex-start;
		}

		button {
			margin: 0.5em;
			@include sm {
				margin: 0.1em 0;
				padding: 0.4em;
				width: 160px;
			}
		}
	}

	.noResultsText {
		text-align: center;
	}
}
