$primary-color: #282c34;
$secondary-color: #61dafb;

$body-bg: #eee;
$body-text: #444;

$textfld-border: #ccc;
$textfld-bg: #fff;

$btn-bg: #1f2937;
$btn-text: #fff;
$btn-hover-bg: #374151;
$btn-active-bg: #111827;
$btn-focus-bg: #111827;
$btn-disabled-bg: #9ca3af;


$leading-inputs: 120%;
$padding-inputs: 0.75em;
$margin-label: 0.5em;
$margin-inputs: 0.5em 0;
$width-input-border: 2px;
$radius-inputs: 0.25em;
$width-inputs: 250px;
$opacity-input-disabled: 0.5;
